/*.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }
.resize-animation-stopper {
    transition: none !important;
  }*/
h1{
    font-Family: 'Permanent Marker', Cursive;
    font-size: calc(1.4rem + 3.3vw)
}

body{
    Font-Family: 'Overpass', Sans-Serif;
    Font-Size: 17px;
    margin: 0%;
    background-color: #e5ebed;
    color: #012e4b;
}

section{
    margin-top: 5%;
    position: relative;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: inherit;
}

.toggle-panel{
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1660px;
    margin: auto;
}

header .logo{
    font-family: 'Permanent Marker', Cursive;
    font-size: 20px;
    padding-left: 2%;
    text-decoration: none;
    color: #012e4b;
}

nav{
    padding-right: 2%;
}

nav li {
    display: inline-block;
    padding-left: 2rem;
}

li{
    list-style: none;
    vertical-align: middle; 
}

li.socials {
    padding-left: 0.5rem;
}
li img{
    width: 23px;
}

.hero{
    position: relative;
    height: 56vw;
    margin-top: 0%;
}

.hero-header{
    width: 100%;
    height: 92%;
    /* color: white; */
    position: relative;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.hero-header h1 {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: calc(1.4rem + 25vw);
    text-align: center;
    line-height: 0.8;
    text-transform: uppercase;
    background-color: #e5ebed;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    mix-blend-mode: screen;
    user-select: none;
    
}

.hero-header .mix-overlay{
    margin: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e5ebed;
    color: #012e4b;
    mix-blend-mode: darken;
    text-align: center;
    top: 0;
}
/* hero-patch element hides the small gap that sometimes appears after hero-header div */
.hero-patch{
    position: relative;
    width: 100%;
    height: 2%;
    top: -1%;
    background-color: #e5ebed;
}
.hero-logo {
    margin: 0%;
    position: relative;
    background-color: transparent;
    color: #012e4b;
    bottom: 0%;
    font-Family: 'Permanent Marker', Cursive;
}

.hero-logo  h4{
    margin: 0;
    position: absolute;
    transform: translateY(-70%);
    right: 25%;
    font-size: 3vw;
}

/* @keyframes appearHeader{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity:0.85;
    }
}
@keyframes appearParagraph{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity:0.85;
    }
} */


h2{
    /* text-align: center; */
    font-weight: 600;
    font-size: calc(1.3rem + 2vw);
    letter-spacing: 2px;
    margin-bottom: 0.3rem;
}

.section-header{
    max-width: 1660px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    font-size: calc(0.7rem + 0.5vw);
}

.section-header h2, p{
    padding-left: 2%;
}
.experiences{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    box-sizing: border-box;
}

/* #experiences p {
    text-align: center;
} */

.activity{
    max-width: 25%;
    flex-basis: 25%;
    padding: 0.3rem;
    box-sizing: border-box;
    position: relative;
}

.activity:hover .hover-element{
    background-color: rgba(0, 0, 0, 0.6);
}

.activity:hover .hover-element p{
    visibility: visible;
}


.activity:hover h3 {
    opacity: 0;
}

.hover-element{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    left: 0;
    transition: background-color 0.4s ease-out;
}

.hover-element p {
    color: rgba(255, 255, 255, 1);
    visibility: hidden;
    font-size: calc(0.7rem + 0.6vw);
    margin: 2% 3%;
}

.image::before{
    content: '';
    display: block;
    background: linear-gradient(180deg,transparent 80%,#000 100%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.image{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

h3{
    position: absolute;
    bottom: 7px;
    width: 100%;
    color: #e5ebed;
    font-size: calc(0.7rem + 1vw);
    margin: 0;
    display: block;
    /*background-color: rgba(7, 7, 7, 0.6);
    border-radius: 10px;*/
}
.image img{
    /* min-width: 470px;
    max-height: 700px;
    border-radius: 10px;*/
    width: 100%;
    display: block;
}


.destinations{
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* #destinations p {
    text-align: center;
} */

.destinations h3{
    box-sizing: border-box;
    padding-left: 1vw;
}

.destinations:hover button {opacity: 0.7;}

.destinations button{
    position: absolute;
    height: 100%;
    width: 4.3vw;
    padding: 1px 0.3vw;
    z-index: 10;
    border: 0;
    outline: 0;
    cursor: pointer;
    opacity: 0;
    background-color: #e5ebed;
    top:0;
}
.destinations button.previous{
    left: 0;
    border-radius: 0 10px 10px 0;
}

.destinations button.next{
    right: 0;
    border-radius: 10px 0 0 10px;
}

.fa-solid{
    font-size: 1.5vw;
    color: #012e4b;
    position: relative;
}

.slideshow{
   /*width: 30000px;
   transition: transform 1s ease-out;
   */
   width: 100%;
   position: relative;
   display: flex;
   scroll-snap-type: x mandatory;
   overflow-x: auto;
   scroll-behavior: smooth;
}
.slideshow::-webkit-scrollbar{
    display: none;
}

.location{
    /*float: left;*/
    width: 31vw;
    padding: 0 0.3vw;
    scroll-snap-align: end;
    scroll-snap-stop: normal;
    flex-shrink: 0;
}

.location-card{
    position: relative;
}

.location img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.scroll-fade {
    opacity: 0;
}
   
.scrolled {
    opacity: 1;
    animation: fade-in 1s ease-in-out both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* .scrolled {
    animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
  } */

#seasons{
    z-index: 2;
}
.seasons{
    display: flex;
    flex-wrap: wrap;
}

.season{
    max-width: 25%;
    flex-basis: 25%;
    padding: 0.3rem;
    box-sizing: border-box;
    position: relative;
    transition: all 0.5s ease-out;
    z-index: 1;
}

.season:hover{
    transform-origin: 50% 50%;
    transform: scale(1.2);
    z-index: 30;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s ease-out 0.5s;
}

.season:first-of-type{
    transform-origin: 0% 50%;
}

.season:last-of-type{
    transform-origin: 100% 50%;
}

.season img {
    width: 100%;
    display: block;
}

.seasons h3 {
    padding-left: 1vw;
    box-sizing: border-box;
}

.season .mobile-link{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 10px;
    display: none;
}

.season-footer {
    display: none;
}

.season-footer{
    visibility: collapse;
    display: block;
    position: relative;
    top: -8px;
    width: 100%;
    height: 25%;
    background-color: #100c02;
    border-radius: 0 0 10px 10px;
    transition: all .3s ease;
    background-color: transparent;
}

.season:hover .season-footer{
    visibility: visible;
    display: block;
    position: relative;
    top: -8px;
    width: 100%;
    height: 25%;
    background-color: #100c02;
    border-radius: 0 0 10px 10px;
    transition: all .3s ease 0.5s;
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
}

.season-details{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.season .season-footer a{
    position: relative;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    margin: 0 5%;
}


.season h4 {
    margin: 0 0.6vw;
    color: #d7d7d7;
    font-size: calc(0.3rem + 0.8vw);
    font-weight: 500;
}

.season-footer a:hover h4{
    color: #e5ebed;
}

.season svg {
    width: 1.75vw;
    height: 1.75vw;
    border: 2px solid #d7d7d7;
    border-radius: 100%;
    fill: #d7d7d7;
}

.season-footer a:hover svg{
    border: 2px solid #e5ebed;
    fill: #100c02;
    background-color: #e5ebed;
}

.nepal-now h3{
    color: #012e4b;
    position: inherit;
    margin-top: 1%;
    margin-bottom: 0;
    padding-left: 2%;
    width: inherit;
}
.news{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.news-card{
    position: relative;
    width: 23vw;
    scroll-snap-align: end;
    scroll-snap-stop: normal;
    flex-shrink: 0;
    padding: 0 0.3vw;
}

.news-card-image{
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.news-card-image img{
    display: block;
    width: 23vw;
    height: 15vw;
    object-fit: cover;
}

.news button{
    position: absolute;
    /* max-height: 75%; */
    height: 4.3vw;
    width: 4.3vw;
    padding: 1px 0.3vw;
    z-index: 10;
    border: 0;
    outline: 0;
    cursor: pointer;
    opacity: 0;
    background-color: transparent;
    top: 6vw;
}

.news:hover button {opacity: 1;}

.news button.previous{
    left: 0;
    border-radius: 0 10px 10px 0;
}

.news button.next{
    right: 0;
    border-radius: 10px 0 0 10px;
}

.news .fa-solid{
    font-size: 2.5vw;
    color: #ffffff;
    position: relative;
    text-shadow: 0px 0px 12px #000000;
} 

.news-content{
    box-sizing: border-box;
    padding: 0.5vw;
}

.date img{
    display: inline-block;
    width: 13px;
    height: 15px;
}
.date p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: calc(0.7rem + 0.4vw);
}
.news-card-header {
    display: block;
    margin: 0.7vw 0vw;
}
.news-card-header h4 {
    font-size: calc(0.7rem + 0.5vw);
    margin: 0%;
}

/* Weather div */
.weather{
    max-width: 1660px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.forecast {
    max-width: 1660px;
    margin: auto;
    padding-left: 2%;
}

.weather-form-container{
    max-width: 1660px;
    margin: auto;
    display: flex;
    align-items: center;
}

.weather-form{
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
    max-width: 45%;
    margin: 1% 0;
    box-sizing: border-box;
}

.search-input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 2%;
    text-overflow: ellipsis;
    padding-right: 10%;
    border-radius: 10px;
    border: none;
    font-size: calc(0.7rem + 0.30vw);
    background-color: #c6cfd6 !important
}


.search-input:-webkit-autofill{
    box-shadow: 0 0 0px 1000px #c6cfd6 inset;
}


.search-button{
    position: absolute;
    right: 1%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    border: none;
    background-color: transparent;

}

.button-wrap{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    align-items: center;
    justify-content: center;

}

.button-icon{
    background: url('./Resources/Icons/search.svg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.error-paragraph{
    color: #874040;
    font-size: 17px;
}

.weather-info{
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
    font-size: calc(0.7rem + 0.35vw);
}

.current-weather{
    max-width: 45%;
    width: 45vw;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background: linear-gradient(#ffffff7a, #e5ebed),url('./Resources/aaron.jpg');
    background-repeat: no-repeat;
    color: #012e4b;
    padding: 2%;
    background-position: 20% 40%;
}

.current-weather-title h4 {
    margin: 0%;
    font-size: calc(0.7rem + 0.5vw);
}

.current-weather-title span {
    opacity: 0.9;
    font-size: calc(0.7rem + 0.30vw);
}


.current-weather-main{
    margin: 3% 0;
    display: flex;
    align-items: center;
}

.temp-value{
    font-size: calc(1.3rem + 2vw); 
}
.temp-value::after {
    content: '\00B0''C';
}

.weather-icon{
    height: calc(1.3rem + 3vw);
    margin-left: 2%;
}

.feels-like{
    opacity: 0.9;
}
.feels-temp::after{
    content: ' \00B0''C';
}


.current-weather-additionals{
    display: flex;
}

.wind-speed{
    margin-right: 4%;
}

.humidity{
    margin-right: 4%;
}

.week-weather{
    max-width: 54%;
    width: 54vw;
    border: none;
    border-radius: 10px;
    background: linear-gradient(#ffffff7a, #e5ebed),url('./Resources/weather.jpg');
    background-repeat: no-repeat;
    background-position: 20% 98%;
    color: #012e4b;
    padding: 2%;
    box-sizing: border-box;
    
}

.week-weather-title h4 {
    margin: 0 0 2% 0;
    font-size: calc(0.7rem + 0.5vw);
}

.week-weather-container{
    display: flex;
}
.day-weather{
    flex-basis: 20%;
}
.day-title h4{
    margin: 0%;
    font-size: calc(0.7rem + 0.5vw);
}
.day-date{
    opacity: 0.9;
}
.day-weather-icon{
    position: relative;
    left: -5%;
    margin: 0%;
    height: calc(1.3rem + 2.8vw);
}

.day-temp-value::after{
    content: '\00B0''C'
}

.day-weather-conditions span {
    opacity: 0.9;
}

footer {
    margin: 4.5rem 0;
}
.footer {
    text-align: center;
}
footer .logo{
    font-family: 'Permanent Marker', Cursive;
    font-size: 20px;
    text-decoration: none;
    color: #012e4b;
}

.footer .contacts{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}
.contacts>:not(:first-of-type){
    margin-left: 1rem;
}

.legal-info{
    margin-top: 3rem;
}

footer span {
    color: #012e4b;
    opacity: 0.6;
}
footer img {
    width: 25px;
}


@media screen and (max-width: 1350px){
    .destinations button {
        width: 3.7vw;
    }
    
    .news button {
        width: 3.7vw;
    }

    @media (hover: none) {
        button {display: none;}
      } 

    .section-header{
        font-size: 17px;
    }

    .search-input{
        font-size: calc(0.7rem + 0.5vw);
    }

    
}


@media screen and (max-width: 700px) {

    .hero-header h1 {
        font-size: calc(1.4rem + 24vw);
    }

    h3 {
        /*font-size: 4.3vw*/
        font-size: calc(0.4rem + 2.7vw);
    }
    
    .hero{
        height: 39vh;
    }

    .hero-logo h4 {
        font-size: 1.5rem;
        right: 15%;
    }
    li.contacts {
        display: none;
    }
    li img{
        width: 30px;
    }
    .hero p {
        display: none;
    }
    .experiences{
        justify-content: space-evenly;
    }

    .activity{
        max-width: 50%;
        flex-basis: 50%;
        padding: 0.1rem;
    }

    .slideshow{
        width: 100%;
        /*transform: translateX(0) !important;*/
     }
    
    .location{
        width: 78vw;
        padding: 0 0.5vw;
        
    }
    
    @media (hover: none) {
        button {display: none;}
      } 

    .destinations button {
        width: 3vh;
    }
    .fa-solid{
        font-size: 2vh;
    }

    .season{
        max-width: 50%;
        flex-basis: 50%;
        padding: 0.1rem;
        /* pointer-events: none; */
    }

    .season .mobile-link{
        display: block;
    }
    .season:hover{
        transform: initial;
    }
    .season:hover .season-footer{
        display: none;
    }
    
    .news button {
        top: 13vw;
    }
    
    .news .fa-solid {
        font-size: 4.5vw;
    }

    .news-card{
        width: 78vw;
        padding: 0 0.5vw;
    }

    .news-card-image img {
        width: 78vw;
        height: 40vw;
    }

    .date p {
        font-size: calc(0.7rem + 0.7vw);
    }

    .news-card-header h4 {
        font-size: calc(0.7rem + 0.9vw);
    }

    .weather-form-container{
        flex-direction: column;
    }
    .weather-form{
        width: 80vw;
        margin: 1% auto;
        max-width: 95%;
    }

    .search-input{
        font-size: calc(0.9rem + 0.5vw);
    }

    .weather-info{
        flex-direction: column;
        margin: 0;
        font-size: calc(0.7rem + 0.9vw);
    }
    .weather-info h4{
        font-size: calc(0.9rem + 0.5vw);
    }

    .current-weather{
        width: 95vw;
        max-width: 95%;
        margin: 1% auto;
        background-position: 20% 45%;
    }
    .current-weather-title span {
        font-size: calc(0.6rem + 0.9vw);
    }
    .temp-value{
        font-size: calc(1.3rem + 3vw);
    }
    .weather-icon{
        height: calc(2rem + 3vw);
    }

    .week-weather{
        width: 95vw;
        max-width: 95%;
        margin: 1% auto;
    }

    .day-weather-icon{
        height: calc(1.8rem + 2.8vw);
    }

    .day-weather-conditions span{
        font-size: calc(0.6rem + 0.9vw);
    }
}

@media screen and (max-width: 940px){

    section {
        margin-top: 4rem;
    }

    .header{
        padding: 20px 20px 20px 0px;
    }

    nav {
        display: none;
    }

    .header .logo{
        z-index: 100;
    }

    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(./Resources/Navigation/bars.svg);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .toggle.active{
        background: url(./Resources/Navigation/close.svg);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* nav.active {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #e5ebed;
    } */

    .toggle-panel.active{
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
        grid-template-rows: 100px 5fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #e5ebed; 
        overflow: auto;
    }

    .navigation{
        grid-row: 2 /span 1;
        align-self: baseline;
    }

    .navigation ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navigation li a{
        font-size: 1.3rem;
        margin: 5px 0;
        display: inline-block;
        transition: .3s;
    }

    .navigation li a:hover{
        transform: scale(1.1);
    }

    .navigation-footer {
        align-self: end;
        grid-row: 3/ span1;
    }

    .destinations button {
        width: 3.4vw;
    }

    .news button {
        width: 3.4vw;
    }

    .section-header h3{
        margin-top: 1rem;
    }

    .weather{
        margin-top: 1rem;
    }

    

}

