body{
    Font-Family: 'Overpass', Sans-Serif;
    Font-Size: 17px;
    margin: 0%;
    background-color: #e5ebed;
    color: #e5ebed;
}

h1{
    font-Family: 'Permanent Marker', Cursive;
    font-size: calc(1.4rem + 3.3vw)
}

h3 {
    font-size: calc(0.7rem + 1vw);
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: inherit;
}

.toggle-panel{
    display: none;
    color: #012e4b;
}

footer{
    margin: 4.5rem 0;
}

footer img{
    width: 25px;
}

.contacts>:not(:first-of-type) {
    margin-left: 1rem;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1660px;
    margin: auto;
}

header .logo{
    font-family: 'Permanent Marker', Cursive;
    font-size: 20px;
    padding-left: 2%;
    text-decoration: none;
    color: #012e4b;
}

nav{
    padding-right: 2%;
}


nav li {
    display: inline-block;
    padding-left: 2rem;
}

li{
    list-style: none;
    vertical-align: middle;
}

li.socials {
    padding-left: 0.5rem;
}
li img{
    width: 25px;
}


.container{
    position: relative;
    height: 98vh;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.overlay a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%)
}

.content{
    position: relative;
    max-width: 1660px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.content-container{
    box-sizing: border-box;
    padding-left: 2%;
    width: 100%;
    text-shadow: 0px 0px 5px black;
}

.content-container h1 {
    margin: 0 0 0.8rem;
}

.content-container h3 {
    margin: 0 0 1.2rem;
}

.content-container p {
    margin: 0 0;
    padding-bottom: 2rem;
    max-width: 35%;
    color: white;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.button-styled {
    color: #012e4b;
    background-color: #e5ebed;
    font-weight: 500;
    font-size: 100%;
    border-radius: 15px;
    padding: 10px;
}
.pic1{
    background-image: url('../../Resources/Pages/Pokhrara_view.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    z-index: -1;
    
}


.even {
    text-align: right;
    padding-right: 2%;
}
.even p {
    display: inline-block;
}

.pic2{
    background-image: url('../../Resources/Pages/Pokhrara_view2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    z-index: -1;
}

.pic3{
    background-image: url('../../Resources/Pages/Pokhrara_view3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    z-index: -1; 
}

@media screen and (max-width: 940px){

    .header{
        padding: 20px 20px 20px 0px;
    }

    nav {
        display: none;
    }

    .header .logo{
        z-index: 100;
    }

    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url('../../Resources/Navigation/bars.svg');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .toggle.active{
        background: url('../../Resources/Navigation/close.svg');
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .toggle-panel.active{
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
        grid-template-rows: 100px 5fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #e5ebed; 
        overflow: auto;
    }

    .navigation{
        grid-row: 2 /span 1;
        align-self: baseline;
    }

    .navigation ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navigation li a{
        font-size: 1.3rem;
        margin: 5px 0;
        display: inline-block;
        transition: .3s;
    }

    .navigation li a:hover{
        transform: scale(1.1);
    }

    .navigation-footer {
        align-self: end;
        grid-row: 3/ span1;
    }

    .pic1{
        background-attachment: scroll;
    }
    .pic2{
        background-attachment: scroll;
    }
    .pic3{
        background-attachment: scroll;
    }

}